<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/svg+xxml" href="/files/mmmea11.jpg"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <title>MUT Mechanical and Mechatronics Engineering Association</title>
    
</head>
<body class="body">
  
  <div class="topspace"></div>
   <nav class="f">
    <div>
    <div class="d">
        <img class="c" src="/files/mmmea3;22.png" alt="pic"></img>
        <span class="a">
        <h1><i>Murang'a University of Technology Mechanical</i></h1>
         <h1><i>and Mechatronics Engineering Association🚀</i></h1>
        </span>
    </div>
    <div class="hamburger-menu">
      <button class="hamburger" onclick="toggleMenu()">☰</button>
    </div>
    <div class="b"id="navLinks" >
      <h3>
        <a class="aa" href="index.html">Home</a>
        <a class="aa" href="about.html">About us🪴</a>
        <a class="aa" href="events.html">Activities</a>  
        <a class="aa" href="schedule.html">Our Schedule⌚</a> 
        <a class="aa" href="register.html">Register☑️</a>
        <a class="aa" href="contact.html">Contact Us📞</a>
        </h3>
    </div>
    </div>
  </nav>
  <div class="slideshow">
  <button class="prev" onclick="changeSlide(-1)">&#10094;</button>
  <button class="next" onclick="changeSlide(1)">&#10095;</button>
  <a href="events.html"><img class="sacj" src="/files/mmmea eng day pic2.png" alt="pic"></a>
  <a href="about.html"><img class= "sacj" src="/files/land pic 3.jpg" alt="picture"></a>
  <a href="contact.html"><img  class= "sacj" src="/files/mmmea members 4.jpg" alt="pic"></a>
  <a href="index.html"><img class="sacj active" src="/files/land pg pic1,2.png" alt="pic" height="447px" width="100%" object-fit="fill"></a>
  </div>
  <div class="blockleft"></div>
    <div>
    

      <div class="moving-container">
      
      <h2 class="moving-text"onmouseover="pauseAnimation()" onmouseout="resumeAnimation()">
        <span><a href="about.html" class="yt">Join MUT Mechanical and Mechtronics Engineering Association </a></span>
        <span><a href="events.html" class="yt">where you expose yourself to groundbreaking experiences in field of engineering and increase your Networking boundaries</a></span>
      </h2>
      
    </div>
    <div class="blockright"></div>
    
   </div>
   <p><h1 class="quick">Quick view of MMMEA</h1></p>
     
      <div class="acc">
      <div class="ace">      
       <h2 class="abts">About Us</h2>
       <p class="acd"><i class="fas fa-eye" style="color:blue;"></i>
       VISION:To successfully combine fundamental 
       engineering knowledge, core leadership skills and practical experience gained at the
       university to turn ideas into reality for the benefit of the society"</h3></p>
       <p class="acd"><i class="fas fa-bullseye" style="color:blue;"></i>
        MISSION:To foster a culture of innovation and excellence 
        within the mechanical engineering community and to inspire and empower members 
        through collaborative learning sharing experiences and commitment to ethical 
        engineering practices”</p>
       <P class="acd"><i class="fas fa-tasks" style="color:blue;"></i>
        OBJECTIVIES:
        <li>To foster unity and cooperation amongst mechanical and mechatronics &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;engineering students.</li>
        <li>To impact Engineering knowledge through group discussions.</li>
        <li>To promote and protect interests of members.</li>
         </P>
       </div> 
      <div class="sscl"><img class="sscl" src="/files/mmmea logo.jpg" alt="pic" height="486px" width="536px"></div>    
   </div>
   <h2 class="schedl">Our Schedule</h2>
   <script src="index.js"></script>
  </body>
  </html