<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/svg+xxml" href="files/mmmea11.jpg"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="vicechairperson.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <title>MMMEA Vice-Chairperson</title>
    
</head>
<body class="body">
  
  <div class="topspace"></div>
   <nav class="f">
    <div>
    <div class="d">
        <img class="c" src="files/mmmea3;22.png" alt="pic"></img>
        <span class="a">
        <h1><i>Murang'a University of Technology Mechanical</i></h1>
         <h1><i>and Mechatronics Engineering Association🚀</i></h1>
        </span>
    </div>
    <div class="hamburger-menu">
      <button class="hamburger" onclick="toggleMenu()">☰</button>
    </div>
    <div class="b"id="navLinks" >
      <h3>
        <a class="aa" href="index.html">Home</a>
        <span class="hover-word" id="hoverWord">About us🪴
            <div class="popup" id="popup">
                <a  href="about.html"  >About MMMEA</a>
                <a  href="Leaderspage.html" >MMMEA Leadership</a>
            </div>
          </span>
        <a class="aa" href="events.html">Activities</a>  
        <a class="aa" href="schedule.html">Our Schedule⌚</a> 
        <a class="aa" href="register.html">Register☑️</a>
        <a class="aa" href="contact.html">Contact Us📞</a>
        </h3>
    </div>
    </div>
  </nav>
  <div class="image-container">
    <img class="cont" src="files/contactoverlaypic.png" alt="" width="1645px">
    <div class="overlay"></div>
  </div>
  <h1 class="vicechairpersonoverlaytext">VICE CHAIRPERSON, &nbsp;MUT-MMEA</h1>
  <div class="lddiv">
    <div class="leader1text">
        <h2 id="title">Vice Chairperson's Message</h2>
        <p >Dear valued members of the MMMEA Club,

            It is truly a pleasure to connect with you all and reflect on the incredible strides we have made as a team. 
            Every step forward we take is a result of your unwavering dedication and the shared drive to achieve excellence within our association.
            
            I am continually inspired by the innovative ideas and collaborative spirit that define our group. 
            Together, we are building a legacy—one grounded in creativity, integrity, and a passion for engineering that sets us apart.
                        
            Thank you for your hard work, enthusiasm, and commitment to shaping the future of the MUT Mechanical and Mechatronics Engineering Association.
             Let us keep striving toward new possibilities and set even greater benchmarks for the future. </p></div>
        <div class="ldpic"><img src="files/vice-chairperson.jpg" alt="" width="434px" height="446px"></div>
    </div>
    <script src="vicechairperson.js"></script>
  </body>
  </html>    